body {
    background-color: rgb(243, 172, 137);
    text-align: center;
}

h1 {
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}

p {
    text-align: justify;
    font-family: cursive;
    font-size: medium;
}

ul {
    list-style-type: none;
    font-style: italic;
    font-family:cursive;
    font-size: larger;
}

li::first-letter {
    font-weight: bold;
    text-transform: uppercase;
}

.copyright {
    text-align: center;
    font-size: small;
}

#wrap {
    background: white;
    border: black;
    border-style: dashed;
    border-width: 5px;
    margin: auto 30%;
    padding-right: 10px;
    padding-left: 10px;    
}

.line {
    border:none;
    border-top:5px dashed black;
    height:5px;
    width:100%;
}